/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moon+Dance&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap');

/* global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* root css */
:root {
    --primary-color: #FF900E;
    --biscuit-color: rgba(255, 144, 14, 0.1);
    --white-color: #FFFFFF;
    --dark-color: #131313;
    --ash-color: #727272;
    --slategray-color: #424242;

}

/* common / utilities */
.container,
.footer-section {
    background-color: var(--biscuit-color);

}

/* header section styles */
.header-container,
.feature-section,
.facts-container,
.sponsorship-container,
.footer-section,
.clients-container {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-color);
}

.nav-link {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-link li a {
    text-decoration: none;
    color: var(--slategray-color);
    font-weight: 500;
    font-size: 18px;
}

.header-banner-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 100px;

}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--dark-color);

}

.banner-description {
    width: 60%;
    margin: 25px auto;
    text-align: center;
    color: var(--ash-color);
}

.btn-primary {
    padding: 20px 24px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

.banner-img>img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin: 50px 0 35px 0;
}


/* feature section styles */
.feature-section {
    margin-top: 35px;
    margin-bottom: 130px;
}

.feature-up {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-bottom: 130px;
}

.feature-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-photo img {
    border-radius: 8px;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: var(--ash-color);
}

.feature-primary-title,
.feature-seondary-title {
    font-weight: 700;
    font-size: 45px;

}

.feature-primary-title {
    color: var(--primary-color);
}

.feature-seondary-title {
    color: var(--dark-color);
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--ash-color);
    padding: 24px 0 32px 0;
}

/* fetaure downpart styles */
.feature-down-container {
    position: relative;
}

.feature-down {
    display: flex;
    gap: 146px;
}

.btn-feature {
    padding: 45px;
    position: absolute;
    top: 850px;
    right: 500px;
    border-radius: 8px;
}

.feature-btn-bold {
    font-weight: 700;
    font-size: 65px;
}

.feature-details-title {
    font-weight: 700;
    font-size: 45px;
    padding-left: 18px;
    border-left: 5px solid var(--primary-color);
    color: var(--dark-color);
    margin-bottom: 10px;
}

.feature-detail-list {
    padding-top: 10px;
}

.detail {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
}

.detail-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-color);
    padding-left: 30px;
    padding-top: 30px;
}

.detail>p {
    padding: 10px 42px 30px 30px;
}

/* facts awards section styles */
.facts-container {}

.facts-title,
.sponsorship-title,
.clients-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-color);
    margin-bottom: 24px;
}

.award-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 180px;
    flex-wrap: wrap;
}

.award {
    width: 245px;
    height: 220px;
    padding: 50px 36px;
    border: 2px solid var(--primary-color);
    transition: transform 0.5s ease-out;
}

.award:hover {
    transform: scale(1.05) skew(-10deg);
}

.count {
    font-weight: 600;
    font-size: 45px;
    color: var(--slategray-color);
    margin: 5px;
}

.award-description {
    font-weight: 600;
    font-size: 20px;
    color: var(--ash-color);
}

/* sponshirip logo */
.sponsorship-container {
    text-align: center;
    margin-top: 60px;
}


.sponsorship-container p {
    width: 38%;
    margin: 24px auto;
}

.sponsorship-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 130px;
}

.sponsorship-logo img {
    filter: grayscale(1);
}

.sponsorship-logo .first-logo {
    margin-top: 7px;
}

.footer-section .section-description {
    font-weight: 400;
    font-size: 20px;
    color: var(--dark-color);
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

/* clients says */
.clients-comment {
    display: flex;
    text-align: center;
    gap: 40px;
}

.client {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 20px 50px;
}

.clients-comment .client > img{
    margin: 10px 0;
}

.clients-title{
    text-align: center;
    margin-bottom: 60px;
}


/* responsive */

@media only screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    
}